@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}


body{
  background-image: url("./images/pattern-background-desktop.svg");
  background-color: hsl(225, 100%, 94%);
  background-position: right -80px;
  background-size: 100%; 
  background-repeat: no-repeat;
}

.card-container{
  display: flex;
  padding-top: 4%;
  justify-content: center;
  align-items: center;
}

.card{
  width: 430px;
  border-radius: 20px;
  background:white;
  box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.1);
}

.card-top{
  background-image: url("./images/illustration-hero.svg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 200px;
}

.card-body{
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.card-body h3{
  font-size: 32px;
  padding: 20px 0 15px 0;
  color: hsl(224, 23%, 23%);
  font-weight: 900;
}

.card-body p{
  line-height: 25px;
  padding-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: hsl(224, 23%, 55%);
}

.section-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  background: hsl(225, 100%, 98%);
  border-radius: 10px;
  height: 80px;
}

.card-section_1{
  display: flex;
  align-items: center;
}

.h5-p-tag{
  margin-left: 10px;
  margin-top: 15px;
  line-height: 25px;
  font-weight: 500;
}

.h5-p-tag h5{
  color: rgb(44, 44, 42);
  font-weight: 900;
}

.change{
  color :hsl(245, 75%, 52%);
  text-decoration: underline;
  font-weight: 700;
}

.card-button{
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-button button{
  font-weight: 700;
  background :rgb(56, 41, 224);
  color: #fff;
  border-radius: 10px;
  margin: 5px 25px 5px 25px;
  padding: 12px 30px;
  cursor: pointer;
  border:none;
  outline:none;
  transition: all .6s;
}

.card-button button:hover{
  box-shadow: 0 10px 20px 0 rgba(56,41, 224,.4);
}

.card-button a{
  text-align: center;
  margin: 20px;
  color: hsl(224, 23%, 55%);
  font-weight: bold;
  cursor: pointer;
}

.attribution { 
  font-size: 12px;
  text-align: center; 
  margin-top: 15px;
}

.attribution a {
  color: hsl(228, 45%, 44%); 
  font-size: 14px;
}

/* Media Query For Mobile */
@media only screen and (max-width: 480px) {
  
  .card-container{
    padding-top: 100px;
  }
  
  .card{
    width: 300px;
    border-radius: 20px;
    background:white;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.1);
  }

  .card-top{
    background-image: url("./images/illustration-hero.svg");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 150px; 
  }

  .card-body{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .card-body h3{
    font-size: 25px;
    padding: 20px 0 15px 0;
  }

  .card-body p{
    font-size: .9rem;
  }

  .section-container{
    padding: 10px;
    height: 70px;
  }

  .h5-p-tag{
    margin-left: 0;
    margin-top: 15px;
    line-height: 25px;
    font-weight: 500;
  }
  
  .h5-p-tag h5{
    color: rgb(44, 44, 42);
    font-weight: 900;
    font-size: 14px;
  }

  .card-button{
    padding: 10px 0 0 0;
  }

  .card-button button{
    border-radius: 10px;
    margin: 5px 20px 5px 20px;
  }

  body{
    background-image: url("./images/pattern-background-desktop.svg");
    background-color: hsl(225, 100%, 94%);
    background-position: right 10px;
  }

}